{% if site.theme_settings.footer_text %}
<footer id="contact" class="site-footer">
  <div class="contact">
    <h2>Reach out</h2>
    <form action="https://getsimpleform.com/messages?form_api_token=9e7ea6d5db93a276e5316ccb861231f0" method="post">
      <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
      <input type='hidden' name='redirect_to' value='http://www.natepauzenga.com/thank-you/' />
      <input type='text' required="required" name='name' placeholder='Your Full Name' />
      <input type='email' required="required" name='email' placeholder='Your E-mail Address' />
      <textarea name='message' required="required" placeholder='Write your message ...'></textarea>
      <input class="white-button" type='submit' value='Send Message' />
    </form>
  </div>
  <ul>
    {% include icons.html %}
  </ul>
  <p class="text">{{ site.theme_settings.footer_text }}</p>
</footer>
{% endif %}
<script src="{{ "/js/smooth-scroll.min.js" | prepend: site.baseurl }}"></script>
<script>smoothScroll.init()</script>
<script>
(function (window, document, undefined) {

  'use strict';

  // Cut the mustard
  var supports = 'querySelector' in document && 'addEventListener' in window;
  if ( !supports ) return;

  // Get all anchors
  var anchors = document.querySelectorAll( '[href*="#"]' );

  // Add smooth scroll to all anchors if on the root
  if (window.location.pathname === "/") {
    for ( var i = 0, len = anchors.length; i < len; i++ ) {
      anchors[i].setAttribute( 'data-scroll', true );
    }
  } else {
    for ( var i = 0, len = anchors.length; i < len; i++ ) {
      anchors[i].removeAttribute( 'data-scroll' );
    }
  }

  // Initial smooth scroll (add your attributes as desired)
  smoothScroll.init();

})(window, document);
</script>
