<nav class="site-nav">
  <div class="nav-title">
    <a href="/"><span class="my-name">Nate Pauzenga</span> | Software Engineer</a>
  </div>
  <ul>
    <li><a href="{{ site.baseurl }}/#contact">Contact</a></li>
    <li><a href="{{ site.baseurl }}/#posts">Posts</a></li>
    <li><a href="{{ site.baseurl }}/#specialties">Specialties</a></li>
    <li><a href="{{ site.baseurl }}/#work">Work</a></li>
    <li><a href="{{ site.baseurl }}/#about">About</a></li>
  </ul>
</nav>
<nav class="mobile-nav">
  <div class="nav-title-mobile">
    <a href="/"><span class="my-name-mobile">Nate Pauzenga</span> | Software Engineer</a>
  </div>
</nav>
