.site-nav {
  position: fixed;
  display: none;
  z-index: 1;
  top: 0;
  padding: 10px 0;
  height: 50px;
  width: 100%;
  transition: all 1s linear;
  .nav-container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
  }
  .nav-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .nav-menu_wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
  ul {
    font-weight: 100;
    margin: 0;
    padding: 0;
    color: #CCDFCB;
    list-style: none;
    line-height: 1.5;
  }
  li {
    display: inline;
    float: right;
    margin-right: 1.4em;
  }
  @media (max-width: 860px) {
    display: none;
  }
}
.nav-title {
  display: none;
}
.my-name {
  color: $teal;
}
.mobile-nav {
  display: none;
}
