// Typography
$font-family-header: "acumin-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-main: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-headings: 'futura-pt', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Colors
$matte: #414141;
$fresh: #CCDFCB;
$watermelon: #FF6A5C;
$teal: #056571;
$beige: #F0EFEC;

// Brand colours
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: $matte;
$link-color: $watermelon;
$selection-color: $fresh; // visible when highlighting text

// Header colours
$header-link-color: $fresh;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #0070BB;
$header-desc-text-color: #FFF;
